html, body {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}

#header {
    height: 100%;
    min-height: 400px;
    background-size: cover;
    background-image: url("../images/top_picture.jpg");
}

.title {
    width: 60%;
    height: 45%;
}

.lead {
    font-size: 1.5rem;
}

.col-margin {
    margin-top: 60px;
}

.content-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-image {
    border-radius: 50%;
    width: 45%;
}

.experience-image {
    border-radius: 30px;
    width: 70%;
    height: 70%;
}

.diploma-image {
    width: 80%;
    height: 80%;
}

.linux-image {
    width: 70%;
    height: 70%;
}

.contact {
    height: 200px;
    background-color: gray;
    color: white;
    font-size: 1.5rem;
}

.copyright {
    margin-top: 40px;
    height: 50px;
    background-color: black;
    color: white;
}

.readMore {
    position: absolute;
    bottom: 3%;
    margin: 0 auto;
    color: black;
}

.readMore a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}

#mainNavbar .navbar-brand {
    font-size: 1.2rem;
}

#mainNavbar .nav-link {
    color: black;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar.scrolled {
    background: white;
    transition: background 250ms;
}

@media (max-width: 991.98px) {

    #mainNavbar {
        background-color: white;
    }

    #header {
        height: 100%;
        min-height: 400px;
        background-size: cover;
        background-image: url("../images/top_picture_small.png");
    }

    .title {
        width: 60%;
        height: 60%;
    }

    .readMore {
        visibility: hidden;
    }

    .txtReadMore {
        display: none;
    }

    #about   :nth-child(1) {
        order: 2;
    }
    #about   :nth-child(2) {
        order: 1;
    }

    .experience-image {
        height: 90%;
    }

    #education  :nth-child(1) {
        order: 2;
    }
    #education  :nth-child(2) {
        order: 1;
    }
}